/water_quality_data.xlsb
/water_quality_raw_data.xlsb
/livestock_2013_raw_data.csv
/livestock_2014_raw_data.csv
/livestock_2015_raw_data.csv
/livestock_2016_raw_data.csv
/livestock_2017_raw_data.csv
/livestock_2018_raw_data.csv
/livestock_2019_raw_data.csv
/livestock_2020_raw_data.csv
/livestock_2021_raw_data.csv
/livestock_2022_raw_data.csv
/livestock_2023_raw_data.csv
/info.txt
